﻿@model WebApp20201017.ViewModels.testingsViewModel
@{
    ViewBag.Title = "Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>.Net test CSV</h2>

@using (Html.BeginForm("InsertData", "Testing"))
{
    <button type="submit" class="btn btn-primary">Insert Data</button>
}
@using (Html.BeginForm("SearchData", "Testing"))
{
    <br />
    <div class="form-group">
        @Html.TextBoxFor(m => m.searchString, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Search Data</button>
    <br />
    <br />
    if (Model == null)
    {

    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2">ID</th>
                    <th class="col-md-9">Content</th>
                    <th class="col-md-1">Match</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var testing in Model.TestingList)
                {
                    <tr>
                        <th class="col-md-2">@testing.Id</th>
                        <th class="col-md-9">@testing.Content</th>
                        <th class="col-md-1">@testing.Match</th>
                    </tr>
                }
            </tbody>
        </table>
    }


}